# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CRYPTX\Design Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
